{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": true,
    "singleAttributePerLine": true
}
